<% if(success && success.length) {%>
    <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert" style="background-color: #d4edda; color: #155724; border-color: #c3e6cb;">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: #155724;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>

 <% if(error && error.length) {%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
<% } %>